# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode
.project
.classpath
.settings

# Build
target/
*.class

# Logs
*.log

# Docker
Dockerfile
.dockerignore

# Kubernetes/Helm
helm/
k8s/
argocd/

# Documentation
*.md

