server:
  port: 8080

spring:
  application:
    name: argocd-demo

app:
  version: ${APP_VERSION:1.0.0}
  environment: ${APP_ENVIRONMENT:local}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

